:root {
  --calculator-width: 390px;
  --displayeqn-width: 360px;
  --result-font: 64px;
  --equation-font: 32px;
  --button-font: 32px;
  --button-padding: 20px;
  --button-width: 80px;
  --delete-width: 180px;
  --delete-board-rad: 40px;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.calculator {
  border: 3px solid #73ad21;
  max-width: var(--calculator-width);
  margin: auto;
  border-radius: 5%;
}

.title {
  text-align: center;
}
.container {
  text-align: center;
}

.display,
.displayeqn {
  text-align: right;
  max-width: var(--displayeqn-width);
  /*border: 3px solid #73AD21;*/
  margin: auto;
}

.displayeqn {
  color: gray;
}

#result {
  font-size: var(--result-font);
}

#equation {
  font-size: var(--equation-font);
}

button {
  margin: 5px;
  text-align: center;
  border: none;
  font-size: var(--button-font);
  padding: var(--button-padding);
  width: var(--button-width);
  border-radius: 50%;
}

#zero,
#delete {
  width: var(--delete-width);
  border-radius: var(--delete-board-rad);
}

.number {
  background-color: gray;
  color: white;
}
.operand,
.point {
  background-color: orange;
}

@media (max-width: 700px) {
  :root {
    --calculator-width: 60%;
    --displayeqn-width: calc(var(--calculator-width) - 30);
    --result-font: 32px;
    --equation-font: 16px;
    --button-font: 16px;
    --button-padding: 10px;
    --button-width: 40px;
    --delete-width: 90px;
    --delete-board-rad: 20px;
  }
}

@media (max-width: 500px) {
  :root {
    --calculator-width: 80%;
    --displayeqn-width: calc(var(--calculator-width) - 30);
    --result-font: 32px;
    --equation-font: 16px;
    --button-font: 16px;
    --button-padding: 10px;
    --button-width: 40px;
    --delete-width: 90px;
    --delete-board-rad: 20px;
  }
}
