body{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.calculator{
    border: 3px solid #73AD21;
    max-width: 390px;
    margin: auto;
    border-radius: 5%;
}

.title{
    text-align: center;
}
.container {
    text-align: center;
}

.display, .displayeqn{
    text-align: right;
    max-width: 360px;
    /*border: 3px solid #73AD21;*/
    margin: auto;
}


.displayeqn{
    color: gray;
}

#result{
    font-size: 64px; 
}

#equation{
    font-size: 32px;
}

button{  
    margin: 5px;   
    text-align: center;
    border: none;
    font-size: 32px;
    padding: 20px;
    width: 80px;
    border-radius: 50%;   
}

#zero, #delete{
    width: 180px;
    border-radius: 40px;
}

.number{
    background-color: gray;
    color: white;
}
.operand, .point{
    background-color: orange;

}